:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.site {
    display: grid;
    grid-template-columns: .6fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main main";
    height: 100vh;
    margin: 0;
}

#header {
    grid-area: header;
    padding: .5rem 1rem;
}

#nav {
    grid-area: sidebar;
    background-color: purple;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

#main {
    grid-area: main;
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 50% 45%;
    padding: 1rem;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8em 0;
}

.search {
    display: flex;
    align-items: center;
}

.top span {
    padding-right: .5em;
}

.search input {
    height: 1.5em;
    color: white;
    width: 32em;
    margin-right: 3em;
    border-radius: .7em;
    background-color: rgb(208, 208, 208);
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    /* margin-right: 1em; */
}

.account img {
    width: 2.3em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid black;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 26em;
    height: 8em;
}

.message img {
    height: 5em;
    border-radius: 50%;
    border: 2px solid black;
}

.small {
    font-size: 1em;
}

.normal {
    font-size: 1.5em;
}

.menu-buttons {
    /* margin-right: 2em; */
}

/* Button */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em auto;
    font-size: 1.5em;
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: auto;
}

.nav-menu {
    padding-bottom: 1em;
}

.link {
    margin: .6em;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

#nav span {
    margin-right: .2em;
    font-size: 1.7em;
}

.left {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.right {
    grid-column: 2;
    grid-row: 1;
}

.bottom {
    grid-column: 2;
    grid-row: 2;
}

.cards {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2em;
    row-gap: 1em;
}

.cards-h2 {
    padding: 0;
    margin: 0;
}

.card {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8em;
    width: 17em;
    padding: .5em 1.3em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: .5em;
}

.card label {
    font-weight: 600;
    font-size: 1.1em;
}

.card article {
    font-size: .8em;
}

.card-logos {
    align-self: flex-end;
    margin-top: 15px;
    color: rgba(128, 0, 128, 0.58);
    display: flex;
    align-items: center;
}

.card-logos span:hover {
    scale: 1.05;
    color: purple;
    cursor: pointer;
}

.trending-h2, .announcements-h2 {
    padding: 0;
    margin: 0;
}

.announcements {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: .8em 1rem;
    margin-top: 2.3rem;
    border-radius: .5em;
}

.article label {
    font-size: .6em;
    font-weight: 600;
}

.article article {
    font-size: 10px;
}

.article {
    margin: .8em 0;
}

.article:first-child {
    margin-top: 0;
}

.article:last-child {
    margin-bottom: 0;
}

.div {
    margin: 0 auto;
    height: 1px;
    width: 75%;
    background-color: rgb(176, 176, 176);
}

.trending {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: .8em 1rem;
    margin-top: 2.3rem;
    border-radius: .5em;
}

.trend-card {
    margin: .3em auto;
}

.trend-card label {
    font-weight: 600;
}

.trend-card p {
    margin: 0;
    font-size: 13px;
}

.trending-pic {
    float: left;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid black;
}